<!DOCTYPE html>
<html>
<head>
   
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/js/simpleCart.min.js"></script>
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="js/jquery.easydropdown.js"></script>
</head>
<body>


    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-12 header-left">
                    <!-- Application name and navbar in the same line -->

                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li style="font-weight:700; color:green;"><a class="active" href="@Url.Action("Index","Home")">MAC FORESTRY CLUB</a></li>
                            <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a class="active" href="@Url.Action("About","Home")">About</a></li>
                            @if (Session["ID"] == null) { 

                                <li><a class="active" href="@Url.Action("Contact","Home")">Contact</a></li>
                                }
                            @if (Session["ID"] == null)
                            {

                                <li>
                                    <a href="@Url.Action("Login", "Users")">Login</a>
                                </li>


                            }

                            @if (Session["ID"] != null)
                            {
                                <li>
                                  

                                    <a href="@Url.Action("Logout", "Users")">Logout</a>
                                </li>

                            }
                            @if (Session["ID"] != null)
                            {
                                <li>
                                   

                                    <a href="@Url.Action("Logout", "Users")">Events</a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   



    @RenderBody()
    <br />
    <br />

    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-3 infor-left">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Menu</h3>
                    <ul>

                        <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a class="active" href="@Url.Action("About","Home")">About</a></li>
                        <li><a class="active" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a class="active" href="@Url.Action("Login","AdminTables")">Admin</a></li>





                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="https://macfast.org/"><p>Macfast</p></a></li>
                        <li><a href="https://forest.kerala.gov.in/"><p>Kerala Forest</p></a></li>
                        <li><a href="https://ifs.nic.in/"><p>Indian Foresr Service</p></a></li>

                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Address</h3>
                    <h4>
                        The Forestry Club,
                        <span>Macfast, Tiruvalla</span>
                        Pathanamthitta
                    </h4>
                    <h5>+955 123 4567</h5>
                    <p><a href="mailto:example@email.com">forestry@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-end-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">


            </div>
            <center>
                <div>
                    <p>© 2023 Forestry Club . All Rights Reserved | Design by  <a href="https://www.linkedin.com/in/jerrin-jacob23/" target="_blank">Jerrin jacob</a> </p>
                </div>
            </center>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--footer-end-->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
