@model IEnumerable<ForestryClubApp.Models.AdminTable>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminId })
        </td>
    </tr>
}

</table>
