@model ForestryClubApp.Models.Contact_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contact_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
