@model IEnumerable<ForestryClubApp.Models.Contact_Table>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>

    table {
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 5px;
    }

    th {
        font-weight: bold;
    }
    th {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #000;
    }

</style>
<center>
    <h1> Contact details</h1>
    @*@Html.ActionLink("Create New", "Create")*@
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Person_Name)</th>


                <th>@Html.DisplayNameFor(model => model.Person_Email)</th>


                <th>@Html.DisplayNameFor(model => model.Person_Mobile)</th>


                <th>@Html.DisplayNameFor(model => model.Department)</th>


                <th>@Html.DisplayNameFor(model => model.Batch)</th>


                <th>@Html.DisplayNameFor(model => model.Message)</th>


                <th>Actions</th>


            </tr>


        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <td>@Html.DisplayFor(modelItem => item.Person_Name)</td>


                    <td>@Html.DisplayFor(modelItem => item.Person_Email)</td>


                    <td>@Html.DisplayFor(modelItem => item.Person_Mobile)</td>


                    <td>@Html.DisplayFor(modelItem => item.Department)</td>


                    <td>@Html.DisplayFor(modelItem => item.Batch)</td>


                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Contact_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Contact_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Contact_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>

<center>
    <a href="@Url.Action("AdminDash", "AdminTables")" style="display: inline-block; padding: 10px 20px; font-size: 16px; text-align: center; text-decoration: none; background-color: #007bff; color: white; border: 1px solid #007bff; border-radius: 5px; transition: background-color 0.3s ease;">Back To Dashboard</a>
</center>